<!DOCTYPE html>
<html>
<head>
  <title>FacebookOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do | name, msg | %>
	<div class="alart text-center aleart<%= name == notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alert">x</a>
		<%= msg %>
	</div>
	<% end %>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
